<p>Olá <%= nome %>,</p>
<p>
  Obrigado por se registrar no Bora Rachar!.
</p>

<p>Para começar a usar o Bora Rachar, por favor confirme seu cadastro :</p>
<p>
  <a href="<%= confirmUrl %>">Confirmar sua conta </a>
</p>

<p>
  Se estiver com problemas para clicar no botão confirmar conta, copie e cole
  o URL abaixo em seu navegador da web.
</p>

<a href="<%= confirmUrl %>">
  <%= confirmUrl %>
</a>